@font-face {
  font-family: "Avenir LT Std";
  src: url("./fonts/Avenir-LT-Std-65-Medium.otf");
}
.hidden {
  display: none;
}

.karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.figtree {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  /* font-family: "Avenir LT Std"; */
  font-family: "Figtree";
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.home-bg {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, white 58.26%, #f8f8f8 58.26%);
}
section {
  min-height: 100vh;
}
.home-body {
  display: flex;
  height: 100vh;
}
.hero-title {
  font-size: 48px;
  font-weight: bold;
}

.logoImg {
  width: 358px;
  margin: 50px 0 0 0;
}

.home-left {
  margin: 0 0 0 135px;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero-text {
  margin: 13px 0 60px 0;
  font-size: 20px;
  font-weight: 400;
}
.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.hero-button {
  padding: 15px 25px;
  border: #fa4b00 1px solid;
  border-radius: 25px;
  color: #fa4b00;
  font-size: 16px;
  background: #fff;
  font-weight: 750;
  text-decoration: none;
  cursor: pointer;
}
.hero-button:hover {
  color: #ffff;
  background: #fa4b00;
}
.home-right {
  width: 601px;
  /* background: #f8f8f8; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-section-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}

/* footer style  */
footer {
  background: #f2662e;
}
.footer-text {
  font-family: "Karla";
  font-weight: 400;
  color: #ffff;
  font-size: 16px;
  margin-left: 135px;
  padding: 20px 0;
}

/* sliders  */
#slider {
  width: 100%;
  background: linear-gradient(to right, #f8f8f8 58.26%, white 58.26%);
}

.slider-container {
  min-height: 100vh;
  display: flex;
}
#slider.result-mode .slider-container {
  background: linear-gradient(to right, white 58.26%, #f8f8f8 58.26%);
}

.slider-left {
  max-width: 542px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background: #f8f8f8; */
}

.slider-image-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.slider-right {
  flex: 1;
  padding: 40px;
  background: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background: #efefef;
  margin-bottom: 20px;
  border-radius: 4px;
}

#progress {
  height: 100%;
  width: 0%;
  background: #494949;
  transition: 0.3s;
  border-radius: 4px;
}
#slider-title {
  color: #000;
  font-size: 48px;
  font-weight: bold;
}
#description {
  color: #9fa7ac;
  font-size: 20px;
  margin: 20px 0 80px 0;
  min-height: 72px;
}
#question {
  color: #000;
  font-size: 20px;
  margin-bottom: 50px;
}
.slider-buttons button {
  padding: 13px 74px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border: #000 1px solid;
  border-radius: 25px;
}
#yesBtn {
  background: #000;
  color: #ffff;
}
#noBtn {
  background: #ffff;
  color: #000;
}
.arrows {
  margin-top: 20px;
  display: none;
}

.arrows button {
  padding: 8px 15px;
  cursor: pointer;
}

.active {
  background: black;
  color: white;
}
.go-home {
  color: #fa4b00;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
.back-arrow-img {
  width: 11px;
}
.result-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 120px;
}
.result-list li {
  list-style: none;
  font-size: 16px;
  font-weight: 750;
}
.icon-item {
  display: flex;
  align-items: center;
  gap: 11px;
}
.thanks {
  font-size: 48px;
  font-weight: 750;
}
.result-text {
  font-size: 20px;
  margin: 13px 0 50px;
}
#slider.result-mode {
  background: linear-gradient(to right, white 58.26%, #f8f8f8 58.26%);
}
.img-center {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
  width: 100%;
  height: 100%;
}
.result-content {
  max-width: 592px;
  margin-left: 135px;
}
#slider.result-mode .slider-right {
  align-items: center;
  justify-content: center;
}
#slider-type-title {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 750px;
  color: #494949;
}

@media (min-width: 768px) and (max-width: 1250px) {
  .home-right {
    max-width: 601px;
    width: 100%;
    background: #f8f8f8;
  }
  .main-hero-image {
    max-width: 420px;
    width: 100%;
  }
  .home-bg {
    width: 100%;
    height: fit-content;
    background: linear-gradient(to right, white 58.26%, #f8f8f8 58.26%);
  }
}
@media (max-width: 768px) {
  .home-bg {
    width: 100%;
    height: fit-content;
    background: #ffff;
  }
  .logoImg {
    max-width: 358px;
    width: 100%;
    margin-bottom: 20px;
  }
  .home-body {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .home-left {
    margin: 0;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .hero-title {
    font-size: 44px;
    font-weight: bold;
  }
  .hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .hero-button {
    max-width: 230px;
    width: 100%;
  }
  section {
    min-height: fit-content;
  }
  .home-right {
    width: 100%;
    background: #f8f8f8;
  }
  .main-hero-image {
    max-width: 420px;
    width: 100%;
  }
  footer {
    text-align: center;
  }
  .footer-text {
    margin: 0;
  }
  .slider-container {
    flex-direction: column;
  }
  .slider-left {
    max-width: 100%;
    background: #f8f8f8;
    padding-bottom: 30px;
  }
  #slider {
    height: 100%;
    background: #fff;
  }
}
